.App {
    text-align: center;
}

.App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
.routes {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.max-width {
    margin-top: 25px;
    width: 70% !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

button.btn {
    background-color: #5f7161 !important;
    color: #dcd7c9 !important;
}

button.btn.btn-secondary {
    border-color: #dcd7c9 !important;
}

button:hover {
    background-color: #89997b !important;
}

a {
    text-decoration: none !important;
    border-radius: 10px !important;
}

li button {
    color: black !important;
    text-decoration: none !important;
    border-radius: 10px !important;
}

li button:hover {
    background-color: rgb(209, 215, 221) !important;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #edeae2;
}

.card {
    background-color: #5f7161 !important;
    color: #dcd7c9 !important;
}

.card-body .list-group .list-group-item {
    color: #dcd7c9;
    background-color: #5f7161;
    border-color: #dcd7c9 !important;
}

.card-header {
    border-color: #dcd7c9;
}

.card-footer {
    margin-top: 30px;
    border-color: #dcd7c9 !important;
}

.table * {
    color: #dcd7c9 !important;
    background-color: #5f7161 !important;
    border-color: #dcd7c9 !important;
}

.modal-content * {
    color: #dcd7c9 !important;
    background-color: #5f7161 !important;
    border-color: #dcd7c9 !important;
}
