.nav-width {
    width: 80%;
}

#profiledropdown {
    background-color: #5f7161;
    border: #5f7161;
}

.navbar * {
    color: #dcd7c9 !important;
}

.nav-link {
    font-size: 18px;
}
.navbar {
    background-color: #5f7161 !important;
    position: fixed;
    z-index: 1;
    top: 0px !important;
    width: 100% !important;
}
.navbar-brand {
    padding-left: 5px;
    padding-right: 5px;
}
.navbar-brand:hover {
    background-color: #89997b;
}

.nav-link:hover {
    background-color: #89997b !important;
}

.dropdown-item:hover {
    background-color: #89997b !important;
}

.navbar-toggler {
    border-color: #dcd7c9;
}

.btn-link {
    font-size: 18px;
}

.btn-link:hover {
    background-color: #89997b !important;
}
