#SignupForm {
    margin-top: 20px;
}

.text-top {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 25px;
}

.error {
    text-align: center;
}

.form-group input,
.form-group button {
    margin-bottom: 10px !important;
}

.form-group {
    margin-top: 20px !important;
}
