.trail-img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
}

.trail-card {
    margin-bottom: 50px !important;
    max-width: 600px !important;
}

.trail-title {
    font-size: 18px;
}
@media (max-width: 412px) {
    .list-group > .list-group-item {
        font-size: 80% !important;
    }
    .trail-title {
        font-size: 80% !important;
    }
}
